$accent-color: #FBDC4D;
$link-color:  #1A71D2;
$link-active-color: #FF543E;
$button-hover-color: #FFEB8D;
$button-active-color: #F5D22D;
$button-light-hover-color: #D1EDFF;
$button-light-active-color: #B0DCF8;
$footer-desc-color: #B0B0B0;
$footer-bg-color: #333;