.headline {
    font-size: 78px;
    font-weight: 700;
    line-height: 1;
    
    /* Tablet Big */
    @media (max-width: 1139px) {
        font-size: 58px;
    }

    /* Tablet Small */
    @media (max-width: 899px) {
        font-size: 42px;
    }

    /* Mobile */
    @media (max-width: 767px) {
        font-size: 32px;
    }
}