// Ширина и высота линии в иконке
$lineWidth: 40px;
$lineHeight: 5px;
$color: #000;

// Размеры контейнера
$width: $lineWidth;
$height: $lineHeight * 5;

.nav-icon {
    width: $width;
    height: $height;
    cursor: pointer;

    display: none;

    @media (max-width: 899px) {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 99;
    }
}

.nav-icon__middle {
    position: relative;
    width: $lineWidth;
    height: $lineHeight;
    background-color: $color;

    /* Tablet Small */
    @media (max-width: 899px) {
      display: block;
    }

    &::before, &::after {
        content: "";
        position: absolute;
        left: 0;
    
        width: $lineWidth;
        height: $lineHeight;
        background-color: $color;
    
        transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    }

    &::before { 
        top: -($lineHeight*2);  
    }

    &::after {
        top: $lineHeight*2;
    }
}

/* active state */

.nav-icon.nav-icon--active .nav-icon__middle {
    background-color: transparent;

    &::before, &::after {
        top: 0;
        transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }
}
